.my-portrait {
  max-width: 350px;
  float: right;
  margin: 10px;
}

.cat-gif {
  width: 200px;
  height: 150px;
  float: right;
}

.flower {
  width: 200px;
  height:150px;
  float: right;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

body {
  background-color:#f0e3d1;
}

h1 {
  font-family: 'Londrina Sketch', cursive;
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

h2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 125%;
}

h3 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 3px;
  font-size: 125%;
}

 .about-me{
  color:rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  border: solid 3px white;
  background-color: #e5cead;
  padding-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

.links {
  color:rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  border: solid 3px white;
  background-color: #e5cead;
  padding-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  font-family: Verdana, sans-serif;
}
